/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
*~

# programmer's notes
/scratch.txt

# user data
/cards
/config.yml
/pajama.db
/pajama.yml
